.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    border-right: 1px solid #ccc;
    max-width: 350px;
}

.sidebar__header {
    background-color: #EDEDED;
    height: 66px;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__headerLeft {
    margin-left: 15px;
}

.sidebar__headerLeft button {
    width: 13px;
    height: 13px;
    margin-right: 10px;
    border-radius: 50%;
}

.sidebar__headerLeft button.close {
    background-color: #FE5F57;
    border: 1px solid #F4524A;
}

.sidebar__headerLeft button.minimize {
    background-color: #FEBC2E;
    border: 1px solid #E5BA69;
}

.sidebar__headerLeft button.screen {
    background-color: #28CA41;
    border: 1px solid #2FB444;
}

.sidebar__headerRight {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.sidebar__headerRight img {
    width: 40px;
    object-fit: cover;
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
    display: inline-block;
}


/* SEARCH */

.sidebar__search {
    height: 56px;
    border-bottom: 1px solid #DBDBDB;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
}

.sidebar__searchBar {
    width: calc(100% - 30px);
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 16px;

}

.sidebar__searchBar svg {
    font-size: 1.2rem;
}

.sidebar__searchBar span {
    margin-left: 20px;
    font-size: 0.95rem;
    color: #A0A0A0;
}

.sidebar__chatList {
    max-height: calc(90vh - 66px - 56px);
    overflow-y: auto;
}

.sidebar__chatList-elem {
    height: 74px;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #EBEBEB;
    align-items: center;
}

.sidebar__chatList-elem:hover {
    background-color: #f6f6f6;
}

.sidebar__chatList-elem img {
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    display: flex;
    margin-left: 15px;
}

.sidebar__chatList-elem--chatInfo {
    margin-left: 15px;
    width: 100%;
    margin-right: 15px;
}

.sidebar__chatList-elem--chatInfo > * {
    display: block;
}

.sidebar__chatList-elem--chatInfo .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sidebar__chatList-elem--chatInfo .info .chatName {
    font-size: 1.1rem;
    color: #1C1C1C;
    font-weight: 500;
}

.sidebar__chatList-elem--chatInfo .info .date {
    font-size: 0.8rem;
    color: #999;
}

.sidebar__chatList-elem--chatInfo .message {
    font-size: 0.9rem;
    color: #797979;
    margin-top: 5px;
}